*{
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}
body {
  background-color: white;
  font-family:Helvetica;
}
#main {
  background-color: #e6e6e6;
  opacity:70%;
  text-align: center;
  padding-top: 20px;
  border-radius: 10px;
  height: 400px;
  width: 350px;
  margin: 10% auto;
  overflow: auto;
}
form {
  line-height: 27px;
  padding-top: 30px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="submit"], input[type="button"] {
  min-height: 15px;
  border-radius: 5px;
  border:1px solid #cccccc;
}
input[type="text"], input[type="email"], input[type="password"], input[type="submit"], input[type="button"] {
  min-height: 15px;
  border-radius: 5px;
  border:1px solid #cccccc;
}
input:focus{
  outline:none;
}
input:focus::placeholder{
  color:transparent;
}
input:hover{
  border-color: gray;
  box-shadow: 0 0 5px white;
}
label, input {
    display: block;
}
label {
  margin-top: 30px;
  margin-bottom: 5px;
}
#submit, #calculate{
  margin-top: 40px;
}
footer{
  position:absolute;
  bottom:300px;
  text-align: center;
  width:100%;
  color:white;
}
